body {
  margin: 0;
  font-family: Quicksand, sans-serif;
}
body *:focus {
  outline-style: dotted;
  outline-color: red;
  outline-width: 2px;
  outline-offset: 2px;
  /* border-radius: 5px; */
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  font-weight: bolder;
}
img {
  display: block;
  max-width: 100%;
}

button {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col-top {
  flex-direction: column;
}

.flex-col-bottom {
  flex-direction: column-reverse;
}

.flex-row-right {
  flex-direction: row-reverse;
}

.flex-row-left {
  flex-direction: row;
}

.justify-content-start {
  display: flex;
  justify-content: flex-start;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}
.justify-content-end {
  display: flex;
  justify-content: flex-end;
}
.justify-content-space-around {
  display: flex;
  justify-content: space-around;
}
.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}
.justify-content-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-items-stretch {
  display: flex;
  align-items: stretch;
}
.align-items-start {
  display: flex;
  align-items: flex-start;
}
.align-items-end {
  display: flex;
  align-items: flex-end;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.align-items-baseline {
  display: flex;
  align-items: baseline;
}
.align-content-start {
  display: flex;
  align-content: flex-start;
}
.align-content-center {
  display: flex;
  align-content: center;
}
.align-content-end {
  display: flex;
  align-content: flex-end;
}
.align-content-space-around {
  display: flex;
  align-content: space-around;
}
.align-content-space-between {
  display: flex;
  align-content: space-between;
}
.align-content-space-evenly {
  display: flex;
  align-content: space-evenly;
}

.align-self-start {
  display: flex;
  align-self: flex-start;
}
.align-self-center {
  display: flex;
  align-self: center;
}
.align-self-end {
  display: flex;
  align-self: flex-end;
}
.align-self-baseline {
  display: flex;
  align-self: baseline;
}
.align-self-stretch {
  display: flex;
  align-self: stretch;
}

.col {
  flex: 1 0 0%;
}
.col-1 {
  flex: 0 0 auto;
  width: 10%;
}
.col-2 {
  flex: 0 0 auto;
  width: 20%;
}
.col-3 {
  flex: 0 0 auto;
  width: 30%;
}
.col-4 {
  flex: 0 0 auto;
  width: 40%;
}
.col-5 {
  flex: 0 0 auto;
  width: 50%;
}
.col-6 {
  flex: 0 0 auto;
  width: 60%;
}
.col-7 {
  flex: 0 0 auto;
  width: 70%;
}
.col-8 {
  flex: 0 0 auto;
  width: 80%;
}
.col-9 {
  flex: 0 0 auto;
  width: 90%;
}
.col-10 {
  flex: 0 0 auto;
  width: 100%;
}

#skip-to-content {
  display: block;
  background-color: wheat;
  color: black;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 9999;
  padding: 5px;
}
#skip-to-content:focus {
  top: 0;
}
.menu-drawer {
  display: none;
}

.app-bar {
  background-color: darkorange;
  padding-left: 1em;
  padding-right: 1em;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 999;
}
.app-bar * {
  color: white;
  text-decoration: none;
}
.app-bar ul {
  list-style-type: none;
  display: inline-flex;
}
.app-bar ul li a {
  padding: 0.5em;
  font-size: 1.4rem;
}

#mainContent {
  min-height: 80vh;
}

.hero {
  height: 80vh;
  filter: brightness(0.8);
}
.hero img {
  display: block;
  height: 80vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.content {
  padding: 0 0;
}
.content h2 {
  margin: 0;
}
.head-content {
  background-color: darkorange;
  padding: 1em 1em;
  color: whitesmoke;
}
.head-content p {
  margin: 0;
}
.body-content {
  background-color: white;
  color: black;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item-content {
  min-height: 30vh;
  border-radius: 20px;
  box-shadow: 0px 2px 9px grey;
  margin: 0.5em;
}
.item-content-head {
  display: flex;
  position: relative;
  margin: 0;
}

.item-legend-left,
.item-legend-right {
  position: absolute;
  background-color: darkred;
  opacity: 70%;
  height: 2rem;
  width: 5rem;
  display: flex;
  top: 10%;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.item-legend-left::before,
.item-legend-right::before {
  font: var(--fa-font-solid);
}
.item-legend-left {
  left: 0%;
  width: 7rem;
}
.item-legend-left::before {
  content: '\f3c5';
  color: white;
}
.item-legend-right {
  right: 0%;
}
.item-legend-right::before {
  content: '\f005';
  color: yellow;
}
.item-image {
  height: 40vh;
  width: 100%;
}
.item-image img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-content-body {
  padding: 0.5em 1em;
}
.item-content-body a {
  text-decoration: none;
  color: black;
}
.item-content-body a:hover {
  text-decoration: underline;
}
.item-content-body h3 {
  font-size: 1.3em;
  margin: 0.5em 0;
}
.item-content-body p {
  font-size: 0.7em;
}
.detail-content {
  min-height: 30vh;
  border-radius: 10px;
  box-shadow: 0px 2px 9px grey;
  margin: 0.5em;
}
.detail-content > * {
  margin: 1em;
}
#resto-reviews {
  background-color: darkorange;
  color: white;
}
.customer-review {
  box-shadow: 0px 2px 5px grey;
  border-radius: 10px;
  padding: 0.5em;
  color: black;
  background-color: whitesmoke;
}
.customer-name {
  font-weight: bolder;
}
/* .customer-comment {
  padding: 0 1.5em;
} */
.customer-comment::before {
  content: '\f10d';
  font: var(--fa-font-solid);
  font-style: italic;
  vertical-align: super;
}
.customer-comment::after {
  content: '\f10e';
  font: var(--fa-font-solid);
  font-style: italic;
  vertical-align: sub;
}
.review-date {
  color: darkgrey;
  justify-content: end;
  display: flex;
}
.FAB {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  border-radius: 100%;
  background-color: red;
  border: 0;
  color: white;
  padding: 1.5em;
}
.FAB span {
  font-size: 1.5em;
}
.footnote {
  min-height: 4vh;
  background-color: darkorange;
  padding: 1em 1.5em;
  text-align: center;
}
