@media screen and (max-width: 480px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 10%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 20%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 30%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 40%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 60%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 70%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 80%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 90%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 100%;
  }
}
